@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@300&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; 
*/

.mainHeader img {
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}

.mainHeader ul {
    font-family: 'Source Code Pro', monospace; 
    margin-top: 35px;
    margin-right: 30px;
    list-style: none;
    float: right;
}

.mainHeader li {
    display: inline;
    padding-right: 100px;
    font-size: 25px;
}

.mainHeader a:link {
    text-decoration: none;
    color:aqua;
}

.mainHeader a:visited {
    color:aqua;
}

.mainHeader a:hover {
    color:blue;
}